# Scratch: HTML Table Extraction with `pandas.read_html`

**Author:** Dhruv Singh  
**Last updated:** 2025-12-15  

This scratch notebook collects **tables embedded in HTML pages** using `pandas.read_html()`.
It’s intentionally separate from the main API project notebook to keep the portfolio narrative clean.

---
## What this demonstrates
- Fetching HTML responsibly (User-Agent header)
- Extracting `<table>` elements into DataFrames
- Inspecting / selecting tables from a list

## Example 1 — Wikipedia table extraction

In [1]:
import pandas as pd
import requests

pd.set_option('display.max_columns', None)

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_Australian_capital_cities'

In [3]:
html = requests.get(url, headers={"User-Agent": "Mozilla/5.0"}, timeout=30).text
tables = pd.read_html(html)
len(tables)

C:\Users\drewn\AppData\Local\Temp\ipykernel_13568\769837543.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html)

10

In [4]:
tables = pd.read_html(html)

C:\Users\drewn\AppData\Local\Temp\ipykernel_13568\1892305996.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html)

In [5]:
tables

[                                                   0
 0  WESTERN AUSTRALIA NORTHERN TERRITORY SOUTH AUS...,
                 State/territory    Capital  City population[2]  \
 0               New South Wales     Sydney             5029768
 1                      Victoria  Melbourne             4725316
 2                    Queensland   Brisbane             2360241
 3             Western Australia      Perth             2022044
 4               South Australia   Adelaide             1324279
 5                      Tasmania     Hobart              224462
 6  Australian Capital Territory   Canberra              403468
 7            Northern Territory     Darwin              145916

    State/territory population[3]  \
 0                        7759274
 1                        6179249
 2                        4848877
 3                        2558951
 4                        1713054
 5                         517588
 6                         403468
 7                         245740

   Percentage of state/territory population in capital city  Established  \
 0                                             64.82%               1788
 1                                             76.47%               1835
 2                                             48.68%               1825
 3                                             79.02%               1829
 4                                             77.31%               1836
 5                                             43.37%               1804
 6                                            100.00%               1913
 7                                             59.38%               1869

    Capital since  Image
 0           1788    NaN
 1           1851    NaN
 2           1860    NaN
 3           1829    NaN
 4           1836    NaN
 5           1826    NaN
 6           1913    NaN
 7           1911    NaN  ,
                                 vteAustralia articles  \
 0                                             History
 1   Timeline Bibliography Prehistory Archaeology E...
 2                                            By topic
 3                                           Geography
 4   Climate Climate change Continent Deserts Envir...
 5                                        Subdivisions
 6                                            Politics
 7   Asylum Constitution Courts Elections Donations...
 8                                          Government
 9                                             Economy
 10  Agriculture Dollar Energy Gross state product ...
 11                                            Society
 12  Abortion Aged care Censorship Citizenship Crim...
 13                                            Culture
 14                OutlineBibliography Category Portal

                               vteAustralia articles.1
 0   Timeline Bibliography Prehistory Archaeology E...
 1   Timeline Bibliography Prehistory Archaeology E...
 2   Asian Australians Constitutional Diplomatic Ec...
 3   Climate Climate change Continent Deserts Envir...
 4   Climate Climate change Continent Deserts Envir...
 5              States and territories Capitals Cities
 6   Asylum Constitution Courts Elections Donations...
 7   Asylum Constitution Courts Elections Donations...
 8   Cabinet of Australia list Governor-General lis...
 9   Agriculture Dollar Energy Gross state product ...
 10  Agriculture Dollar Energy Gross state product ...
 11  Abortion Aged care Censorship Citizenship Crim...
 12  Abortion Aged care Censorship Citizenship Crim...
 13  Architecture Art Arts Australian English Cinem...
 14                OutlineBibliography Category Portal  ,
                                                    0  \
 0  Timeline Bibliography Prehistory Archaeology E...
 1                                           By topic

                                                    1
 0  Timeline Bibliography Prehistory Archaeology E...
 1  Asian Australians Constitutional Diplomatic Ec...  ,
                                                    0  \
 0  Climate Climate change Continent Deserts Envir...
 1                                       Subdivisions

                                                    1
 0  Climate Climate change Continent Deserts Envir...
 1             States and territories Capitals Cities  ,
                                                    0  \
 0  Asylum Constitution Courts Elections Donations...
 1                                         Government

                                                    1
 0  Asylum Constitution Courts Elections Donations...
 1  Cabinet of Australia list Governor-General lis...  ,
                                                    0  \
 0  Agriculture Dollar Energy Gross state product ...

                                                    1
 0  Agriculture Dollar Energy Gross state product ...  ,
                                                    0  \
 0  Abortion Aged care Censorship Citizenship Crim...
 1                                            Culture

                                                    1
 0  Abortion Aged care Censorship Citizenship Crim...
 1  Architecture Art Arts Australian English Cinem...  ,
                       vteCapital cities of Australia  \
 0  National and ACT Canberra NSW Sydney NT Darwin...
 1                          National and ACT Canberra
 2                        List of cities in Australia

                     vteCapital cities of Australia.1 Unnamed: 2    Unnamed: 3  \
 0  National and ACT Canberra NSW Sydney NT Darwin...        NaN           NaN
 1                                         NSW Sydney  NT Darwin  QLD Brisbane
 2                        List of cities in Australia        NaN           NaN

     Unnamed: 4  Unnamed: 5     Unnamed: 6 Unnamed: 7
 0          NaN         NaN            NaN        NaN
 1  SA Adelaide  TAS Hobart  VIC Melbourne   WA Perth
 2          NaN         NaN            NaN        NaN  ,
                            0           1          2             3  \
 0  National and ACT Canberra  NSW Sydney  NT Darwin  QLD Brisbane

              4           5              6         7
 0  SA Adelaide  TAS Hobart  VIC Melbourne  WA Perth  ]

In [6]:
type(tables)

list

### Inspect and select a table

`pd.read_html` returns a **list** of DataFrames—one per table found on the page.

In [7]:
tables[1]

,State/territory,Capital,City population[2],State/territory population[3],Percentage of state/territory population in capital city,Established,Capital since,Image
0,New South Wales,Sydney,5029768,7759274,64.82%,1788,1788,NaN
1,Victoria,Melbourne,4725316,6179249,76.47%,1835,1851,NaN
2,Queensland,Brisbane,2360241,4848877,48.68%,1825,1860,NaN
3,Western Australia,Perth,2022044,2558951,79.02%,1829,1829,NaN
4,South Australia,Adelaide,1324279,1713054,77.31%,1836,1836,NaN
5,Tasmania,Hobart,224462,517588,43.37%,1804,1826,NaN
6,Australian Capital Territory,Canberra,403468,403468,100.00%,1913,1913,NaN
7,Northern Territory,Darwin,145916,245740,59.38%,1869,1911,NaN

## Example 2 — Finance page table extraction (may change over time)

In [8]:
url2 = 'https://finance.yahoo.com/markets/commodities/'

In [9]:
html2 = requests.get(url2, headers={"User-Agent": "Mozilla/5.0"}, timeout=30).text

In [10]:
tables = pd.read_html(html2)

C:\Users\drewn\AppData\Local\Temp\ipykernel_13568\3581106497.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html2)

In [11]:
tables

[   Symbol                             Name  Unnamed: 2  \
 0    ES=F            E-Mini S&P 500 Dec 25         NaN
 1    YM=F  Mini Dow Jones Indus.-$5 Dec 25         NaN
 2    NQ=F                Nasdaq 100 Dec 25         NaN
 3   RTY=F  E-mini Russell 2000 Index Futur         NaN
 4    ZB=F  U.S. Treasury Bond Futures,Mar-         NaN
 5    ZN=F  10-Year T-Note Futures,Dec-2025         NaN
 6    ZF=F  Five-Year US Treasury Note Futu         NaN
 7    ZT=F   2-Year T-Note Futures,Mar-2026         NaN
 8    GC=F                      Gold Feb 26         NaN
 9   MGC=F      Micro Gold Futures,Dec-2025         NaN
 10   SI=F                    Silver Dec 25         NaN
 11  SIL=F    Micro Silver Futures,Dec-2025         NaN
 12   PL=F                  Platinum Jan 26         NaN
 13   HG=F                    Copper Mar 26         NaN
 14   PA=F                 Palladium Mar 26         NaN
 15   CL=F                 Crude Oil Jan 26         NaN
 16   HO=F               Heating Oil Jan 26         NaN
 17   NG=F               Natural Gas Jan 26         NaN
 18   RB=F             RBOB Gasoline Feb 26         NaN
 19   BZ=F  Brent Crude Oil Last Day Financ         NaN
 20   B0=F  Mont Belvieu LDH Propane (OPIS)         NaN
 21   ZC=F                               --         NaN
 22   ZO=F                               --         NaN
 23   KE=F                               --         NaN
 24   ZR=F      Rough Rice Futures,Mar-2026         NaN
 25   ZM=F                               --         NaN
 26   ZL=F                               --         NaN
 27   ZS=F         Soybean Futures,Jan-2026         NaN
 28   GF=F  WisdomTree International High D         NaN
 29   HE=F        Lean Hog Futures,Dec-2025         NaN
 30   LE=F     Live Cattle Futures,Feb-2026         NaN
 31   CC=F                     Cocoa Mar 26         NaN
 32   KC=F                    Coffee Dec 25         NaN
 33   CT=F                    Cotton Mar 26         NaN
 34  LBS=F     Random Length Lumber Futures         NaN
 35   OJ=F              Orange Juice Jan 26         NaN
 36   SB=F                 Sugar #11 May 26         NaN
 37    NaN                              NaN         NaN

                         Price  Market Time    Change Change %  Volume  \
 0     6,822.50 -8.25 (-0.12%)   2:30PM EST   -8.2500   -0.12%  1.372M
 1   48,782.00 -78.00 (-0.16%)   2:30PM EST  -78.0000   -0.16%   78426
 2   25,136.50 -77.00 (-0.31%)   2:30PM EST  -77.0000   -0.31%  373650
 3    2,540.40 -13.30 (-0.52%)   2:30PM EST  -13.3000   -0.52%  247992
 4       114.88 +0.22 (+0.19%)   2:30PM EST    0.2200   +0.19%  276863
 5       112.28 +0.11 (+0.10%)   2:30PM EST    0.1100   +0.10%  963918
 6       109.17 +0.08 (+0.07%)   2:30PM EST    0.0800   +0.07%  794708
 7       104.35 +0.04 (+0.04%)   2:30PM EST    0.0400   +0.04%  590301
 8     4,337.90 +9.60 (+0.22%)   2:30PM EST    9.6000   +0.22%  189821
 9     4,337.80 +9.50 (+0.22%)   2:30PM EST    9.5000   +0.22%  313402
 10       63.92 +1.91 (+3.09%)   2:30PM EST    1.9100   +3.09%  103656
 11       63.92 +1.91 (+3.09%)   2:30PM EST    1.9100   +3.09%  143281
 12   1,815.10 +52.60 (+2.98%)   2:30PM EST   52.6000   +2.98%   48248
 13        5.42 +0.06 (+1.09%)   2:30PM EST    0.0600   +1.09%   39250
 14   1,620.00 +77.30 (+5.01%)   2:30PM EST   77.3000   +5.01%    8473
 15       56.82 -0.62 (-1.08%)   2:30PM EST   -0.6200   -1.08%  192132
 16    2.1815 -0.0165 (-0.75%)   2:30PM EST   -0.0165   -0.75%   24884
 17    4.0160 -0.0970 (-2.36%)   2:30PM EST   -0.0970   -2.36%  141356
 18    1.7371 -0.0192 (-1.09%)   2:30PM EST   -0.0192   -1.09%   27564
 19       60.58 -0.54 (-0.88%)   2:30PM EST   -0.5400   -0.88%   38883
 20    0.7000 +0.0319 (+4.77%)   1:17PM EST    0.0319   +4.77%      20
 21      439.50 -1.25 (-0.28%)   2:19PM EST   -1.2500   -0.28%  162256
 22      281.50 -4.50 (-1.57%)   2:19PM EST   -4.5000   -1.57%     491
 23      512.00 -6.00 (-1.16%)   2:19PM EST   -6.0000   -1.16%   31817
 24        9.99 -0.15 (-1.53%)   2:19PM EST   -0.1500   -1.53%    1646
 25      303.90 +1.40 (+0.46%)   2:19PM EST    1.4000   +0.46%   56444
 26       49.47 -0.60 (-1.20%)   2:19PM EST   -0.6000   -1.20%   56436
 27    1,073.00 -3.75 (-0.35%)   2:19PM EST   -3.7500   -0.35%  124926
 28      339.80 +0.70 (+0.21%)   2:04PM EST    0.7000   +0.21%    6187
 29       83.82 -0.70 (-0.83%)   2:04PM EST   -0.7000   -0.83%   20157
 30      230.57 +1.02 (+0.45%)   2:04PM EST    1.0200   +0.45%   16529
 31  5,754.00 -472.00 (-7.58%)   5:28AM EST -472.0000   -7.58%   18663
 32      389.10 -8.10 (-2.04%)   9:57AM EST   -8.1000   -2.04%   19839
 33       63.93 +0.10 (+0.16%)   2:19PM EST    0.1000   +0.16%   17137
 34      380.60 -4.30 (-1.12%)   3:24PM EDT   -4.3000   -1.12%     193
 35      163.05 -0.10 (-0.06%)   1:59PM EST   -0.1000   -0.06%    2426
 36       14.57 -0.13 (-0.88%)  12:59PM EST   -0.1300   -0.88%   51263
 37                        NaN          NaN       NaN      NaN     NaN

    Open Interest
 0         1.577M
 1          70455
 2         270908
 3         330017
 4         1.821M
 5         5.396M
 6         6.643M
 7         4.496M
 8         335268
 9          44234
 10        116186
 11         12716
 12         56422
 13        142998
 14         20523
 15        141225
 16         61359
 17        101151
 18         88351
 19         26063
 20         15581
 21        730826
 22            --
 23        173041
 24          4726
 25        211083
 26        114216
 27        226396
 28         19958
 29        112158
 30        119044
 31             0
 32           155
 33        180718
 34          2057
 35          4208
 36        444771
 37           NaN  ]

In [12]:
tables[0]

,Symbol,Name,Unnamed: 2,Price,Market Time,Change,Change %,Volume,Open Interest
0,ES=F,E-Mini S&P 500 Dec 25,NaN,"6,822.50 -8.25 (-0.12%)",2:30PM EST,-8.2500,-0.12%,1.372M,1.577M
1,YM=F,Mini Dow Jones Indus.-$5 Dec 25,NaN,"48,782.00 -78.00 (-0.16%)",2:30PM EST,-78.0000,-0.16%,78426,70455
2,NQ=F,Nasdaq 100 Dec 25,NaN,"25,136.50 -77.00 (-0.31%)",2:30PM EST,-77.0000,-0.31%,373650,270908
3,RTY=F,E-mini Russell 2000 Index Futur,NaN,"2,540.40 -13.30 (-0.52%)",2:30PM EST,-13.3000,-0.52%,247992,330017
4,ZB=F,"U.S. Treasury Bond Futures,Mar-",NaN,114.88 +0.22 (+0.19%),2:30PM EST,0.2200,+0.19%,276863,1.821M
5,ZN=F,"10-Year T-Note Futures,Dec-2025",NaN,112.28 +0.11 (+0.10%),2:30PM EST,0.1100,+0.10%,963918,5.396M
6,ZF=F,Five-Year US Treasury Note Futu,NaN,109.17 +0.08 (+0.07%),2:30PM EST,0.0800,+0.07%,794708,6.643M
7,ZT=F,"2-Year T-Note Futures,Mar-2026",NaN,104.35 +0.04 (+0.04%),2:30PM EST,0.0400,+0.04%,590301,4.496M
8,GC=F,Gold Feb 26,NaN,"4,337.90 +9.60 (+0.22%)",2:30PM EST,9.6000,+0.22%,189821,335268
9,MGC=F,"Micro Gold Futures,Dec-2025",NaN,"4,337.80 +9.50 (+0.22%)",2:30PM EST,9.5000,+0.22%,313402,44234
10,SI=F,Silver Dec 25,NaN,63.92 +1.91 (+3.09%),2:30PM EST,1.9100,+3.09%,103656,116186
11,SIL=F,"Micro Silver Futures,Dec-2025",NaN,63.92 +1.91 (+3.09%),2:30PM EST,1.9100,+3.09%,143281,12716
12,PL=F,Platinum Jan 26,NaN,"1,815.10 +52.60 (+2.98%)",2:30PM EST,52.6000,+2.98%,48248,56422
13,HG=F,Copper Mar 26,NaN,5.42 +0.06 (+1.09%),2:30PM EST,0.0600,+1.09%,39250,142998
14,PA=F,Palladium Mar 26,NaN,"1,620.00 +77.30 (+5.01%)",2:30PM EST,77.3000,+5.01%,8473,20523
15,CL=F,Crude Oil Jan 26,NaN,56.82 -0.62 (-1.08%),2:30PM EST,-0.6200,-1.08%,192132,141225
16,HO=F,Heating Oil Jan 26,NaN,2.1815 -0.0165 (-0.75%),2:30PM EST,-0.0165,-0.75%,24884,61359
17,NG=F,Natural Gas Jan 26,NaN,4.0160 -0.0970 (-2.36%),2:30PM EST,-0.0970,-2.36%,141356,101151
18,RB=F,RBOB Gasoline Feb 26,NaN,1.7371 -0.0192 (-1.09%),2:30PM EST,-0.0192,-1.09%,27564,88351
19,BZ=F,Brent Crude Oil Last Day Financ,NaN,60.58 -0.54 (-0.88%),2:30PM EST,-0.5400,-0.88%,38883,26063
20,B0=F,Mont Belvieu LDH Propane (OPIS),NaN,0.7000 +0.0319 (+4.77%),1:17PM EST,0.0319,+4.77%,20,15581
21,ZC=F,--,NaN,439.50 -1.25 (-0.28%),2:19PM EST,-1.2500,-0.28%,162256,730826
22,ZO=F,--,NaN,281.50 -4.50 (-1.57%),2:19PM EST,-4.5000,-1.57%,491,--
23,KE=F,--,NaN,512.00 -6.00 (-1.16%),2:19PM EST,-6.0000,-1.16%,31817,173041
24,ZR=F,"Rough Rice Futures,Mar-2026",NaN,9.99 -0.15 (-1.53%),2:19PM EST,-0.1500,-1.53%,1646,4726
25,ZM=F,--,NaN,303.90 +1.40 (+0.46%),2:19PM EST,1.4000,+0.46%,56444,211083
26,ZL=F,--,NaN,49.47 -0.60 (-1.20%),2:19PM EST,-0.6000,-1.20%,56436,114216
27,ZS=F,"Soybean Futures,Jan-2026",NaN,"1,073.00 -3.75 (-0.35%)",2:19PM EST,-3.7500,-0.35%,124926,226396
28,GF=F,WisdomTree International High D,NaN,339.80 +0.70 (+0.21%),2:04PM EST,0.7000,+0.21%,6187,19958
29,HE=F,"Lean Hog Futures,Dec-2025",NaN,83.82 -0.70 (-0.83%),2:04PM EST,-0.7000,-0.83%,20157,112158
30,LE=F,"Live Cattle Futures,Feb-2026",NaN,230.57 +1.02 (+0.45%),2:04PM EST,1.0200,+0.45%,16529,119044
31,CC=F,Cocoa Mar 26,NaN,"5,754.00 -472.00 (-7.58%)",5:28AM EST,-472.0000,-7.58%,18663,0
32,KC=F,Coffee Dec 25,NaN,389.10 -8.10 (-2.04%),9:57AM EST,-8.1000,-2.04%,19839,155
33,CT=F,Cotton Mar 26,NaN,63.93 +0.10 (+0.16%),2:19PM EST,0.1000,+0.16%,17137,180718
34,LBS=F,Random Length Lumber Futures,NaN,380.60 -4.30 (-1.12%),3:24PM EDT,-4.3000,-1.12%,193,2057
35,OJ=F,Orange Juice Jan 26,NaN,163.05 -0.10 (-0.06%),1:59PM EST,-0.1000,-0.06%,2426,4208
36,SB=F,Sugar #11 May 26,NaN,14.57 -0.13 (-0.88%),12:59PM EST,-0.1300,-0.88%,51263,444771
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN